<%= form_for @user do |f| %>

	<h3>Set up your new account here.</h3>

	<br><%= f.label :username %> <br>
	<br><%= f.text_field :username %> <br>
	
	<br><%= f.label :password %> <br>
	<br><%= f.password_field :password %> <br>

	<br><%= f.label :password_confirmation %> <br>
	<br><%= f.password_field :password_confirmation %> <br>
	
	<h5>Click 'create user' to authorize FourSquare to use this suite app</h3>
	<%= f.submit %>
<% end %>