<!DOCTYPE html>
<html>
<head>
  <title>CheckItApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Check It Out Brough</h1>

	<% if current_user %>
		<p>
			Welcome, <%= current_user.username %> | 
			<%= link_to 'Log Out', sessions_path, method: :delete %> </p>
		</p>
	<% else %>
		<p>
			<%= link_to 'Sign Up Today', new_user_path %> ||
			<%= link_to 'Log In Now', sessions_new_path %>
		</p>
	<% end %>


<%= yield %>

</body>
</html>
